.head{
    position: relative;
   background-repeat: no-repeat; 
}

.img{
    width: 100%;
    height: 400px;
}
.us{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 55px;
    top: 165px;
    font-weight: bold;

}
.us:hover{
    opacity:1px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    color: black;
}
.container{
    border-radius: 15px;
    margin-right: 0;
    width: 560px;
    height: 300px;
    float: left;
}



#newsletter{
    background-color:white;
    padding-bottom: 50px;
    padding-top: 50px;
    position: relative;
}
.sec{
    padding-bottom: 30px;
    padding-top: 30px ;
    position: relative;
}
#id{
font-weight: lighter;
font-size: 18px;
margin:3px;

}
#di{
    font-size: 30px;
    text-align: center;
    color: blueviolet;
   
}
.contain{
    margin:5px;
    padding-left:8px;
 
   
}
.news{
    padding-left: 10px;
    padding-right: 10px;
}
  
  
   